.cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/4)), 1fr));
    gap: 10px;
    background-color: #f5f5f7;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
}

.flight-card {
    /* display: flex; */
    align-items: center;
    cursor: pointer;
    margin: 6px 3px;
    background-color: mistyrose;
    border-radius: 10px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    cursor: pointer;
    /* display: inline-flex; */
    font-family: "JetBrains Mono", monospace;
    list-style: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* white-space: nowrap; */
    will-change: box-shadow, transform;
    font-size: 18px;
}

.flight-card p {
    margin: 8px 8px;
}

.flight-card:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.flight-card:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.flight-card:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}




