.flight-search {
	margin-bottom: 2rem;
	max-width: 1000px;
	margin: 0 auto;
}

.flight-search input[type='text'] {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	border-right: none;
	box-sizing: border-box;
	height: 2rem;
}

.flight-search button {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;
	background-color: #f2f2f2;
	height: 2rem;
}

.flight-search button:hover {
	background: #F6F9FE;
	color: #174ea6;
	cursor: pointer;
}

.beacon {
	margin-left: 200px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(#00ff0055, #00ff00);
	animation: scan 4s infinite linear;
	right: 10px;
}

@keyframes scan {
	to {
		transform: rotate(1turn);
	}
}

.not-found {
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: cornflowerblue;
}


.search-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.search-wrapper input {
	width: 60%;
	max-width: 300px;
	
}

#search {
	margin-right: 0;
}